# Grupo:
# Eduardo Vinicius Hahn
# Leandro Seiti Kakimoto
# Lucas Felippe Mateus

In [1]:
#importando as bibliotecas nescessárias para o desenvolvimento do trabalho
import numpy as np
import pandas as pd

In [2]:
#Carregando o data set -> resultados de partidas de CS:Go Professional Matches
resultados = pd.read_csv('results.csv')

#Exibindo os dez primeiros registros do data set
#resultados.head(10)
resultados

,date,team_1,team_2,_map,result_1,result_2,map_winner,starting_ct,ct_1,t_2,t_1,ct_2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner
0,2020-03-18,Recon 5,TeamOne,Dust2,0,16,2,2,0,1,0,15,5151,2340454,62,63,0,2,2
1,2020-03-18,Recon 5,TeamOne,Inferno,13,16,2,2,8,6,5,10,5151,2340454,62,63,0,2,2
2,2020-03-18,New England Whalers,Station7,Inferno,12,16,2,1,9,6,3,10,5243,2340461,140,118,12,16,2
3,2020-03-18,Rugratz,Bad News Bears,Inferno,7,16,2,2,0,8,7,8,5151,2340453,61,38,0,2,2
4,2020-03-18,Rugratz,Bad News Bears,Vertigo,8,16,2,2,4,5,4,11,5151,2340453,61,38,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45768,2015-11-05,G2,E-frag.net,Inferno,13,16,2,1,8,7,5,9,1970,2299059,7,16,1,2,2
45769,2015-11-05,G2,E-frag.net,Dust2,16,13,1,1,10,5,6,8,1970,2299059,7,16,1,2,2
45770,2015-11-04,CLG,Liquid,Inferno,16,12,1,1,7,8,9,4,1934,2299011,10,14,16,12,1
45771,2015-11-03,NiP,Dignitas,Train,16,4,1,2,4,1,12,3,1934,2299001,6,12,16,4,1
45772,2015-11-03,NiP,Envy,Cobblestone,16,9,1,2,4,6,12,3,1934,2299003,6,1,16,9,1

In [3]:
# Verificando quantos registros existem no data set
# O método count() retorna a quantia de ocorrências não nulas em linhas ou colunas.
# O parâmetro axis=0 indica que as linhas estão consideradas na contagem, enquando que level=None indica que a contagem
# não se dá por níveis (no caso de uma indexação hierarquica) e numeric_only = False indica que qualquer tipo de dado entra
# na contagem (não somente os numéricos).
resultados.count(axis=0, level=None, numeric_only=False)

date            45773
team_1          45773
team_2          45773
_map            45773
result_1        45773
result_2        45773
map_winner      45773
starting_ct     45773
ct_1            45773
t_2             45773
t_1             45773
ct_2            45773
event_id        45773
match_id        45773
rank_1          45773
rank_2          45773
map_wins_1      45773
map_wins_2      45773
match_winner    45773
dtype: int64

In [4]:
#verificando se há algum dado ausente no data set
resultados.isnull()

,date,team_1,team_2,_map,result_1,result_2,map_winner,starting_ct,ct_1,t_2,t_1,ct_2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45768,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45769,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45770,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45771,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45772,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
#filtrando dados ausentes
resultados.dropna()

,date,team_1,team_2,_map,result_1,result_2,map_winner,starting_ct,ct_1,t_2,t_1,ct_2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner
0,2020-03-18,Recon 5,TeamOne,Dust2,0,16,2,2,0,1,0,15,5151,2340454,62,63,0,2,2
1,2020-03-18,Recon 5,TeamOne,Inferno,13,16,2,2,8,6,5,10,5151,2340454,62,63,0,2,2
2,2020-03-18,New England Whalers,Station7,Inferno,12,16,2,1,9,6,3,10,5243,2340461,140,118,12,16,2
3,2020-03-18,Rugratz,Bad News Bears,Inferno,7,16,2,2,0,8,7,8,5151,2340453,61,38,0,2,2
4,2020-03-18,Rugratz,Bad News Bears,Vertigo,8,16,2,2,4,5,4,11,5151,2340453,61,38,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45768,2015-11-05,G2,E-frag.net,Inferno,13,16,2,1,8,7,5,9,1970,2299059,7,16,1,2,2
45769,2015-11-05,G2,E-frag.net,Dust2,16,13,1,1,10,5,6,8,1970,2299059,7,16,1,2,2
45770,2015-11-04,CLG,Liquid,Inferno,16,12,1,1,7,8,9,4,1934,2299011,10,14,16,12,1
45771,2015-11-03,NiP,Dignitas,Train,16,4,1,2,4,1,12,3,1934,2299001,6,12,16,4,1
45772,2015-11-03,NiP,Envy,Cobblestone,16,9,1,2,4,6,12,3,1934,2299003,6,1,16,9,1

In [6]:
#Verificando se há algum registro duplicado no data set
resultados.drop_duplicates()

,date,team_1,team_2,_map,result_1,result_2,map_winner,starting_ct,ct_1,t_2,t_1,ct_2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner
0,2020-03-18,Recon 5,TeamOne,Dust2,0,16,2,2,0,1,0,15,5151,2340454,62,63,0,2,2
1,2020-03-18,Recon 5,TeamOne,Inferno,13,16,2,2,8,6,5,10,5151,2340454,62,63,0,2,2
2,2020-03-18,New England Whalers,Station7,Inferno,12,16,2,1,9,6,3,10,5243,2340461,140,118,12,16,2
3,2020-03-18,Rugratz,Bad News Bears,Inferno,7,16,2,2,0,8,7,8,5151,2340453,61,38,0,2,2
4,2020-03-18,Rugratz,Bad News Bears,Vertigo,8,16,2,2,4,5,4,11,5151,2340453,61,38,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45768,2015-11-05,G2,E-frag.net,Inferno,13,16,2,1,8,7,5,9,1970,2299059,7,16,1,2,2
45769,2015-11-05,G2,E-frag.net,Dust2,16,13,1,1,10,5,6,8,1970,2299059,7,16,1,2,2
45770,2015-11-04,CLG,Liquid,Inferno,16,12,1,1,7,8,9,4,1934,2299011,10,14,16,12,1
45771,2015-11-03,NiP,Dignitas,Train,16,4,1,2,4,1,12,3,1934,2299001,6,12,16,4,1
45772,2015-11-03,NiP,Envy,Cobblestone,16,9,1,2,4,6,12,3,1934,2299003,6,1,16,9,1

In [7]:
#Renomeando o nome dos atributos vizando torna-los mais intuitivos
resultados = resultados.rename(columns={'ct_1': 'Pontuação como Antiterrorista - Time 1'})
resultados = resultados.rename(columns={'t_2': 'Pontuação como Terrorista - Time 2'})
resultados = resultados.rename(columns={'ct_2': 'Pontuação como Antiterrorista - Time 2'})
resultados = resultados.rename(columns={'t_1': 'Pontuação como Terrorista - Time 1'})
resultados = resultados.rename(columns={'starting_ct': 'Time que iniciou como Antiterrorista'})

#Exibindo os dez primeiros registros do data set após renomear determinados atributos
resultados.head(20)

,date,team_1,team_2,_map,result_1,result_2,map_winner,Time que iniciou como Antiterrorista,Pontuação como Antiterrorista - Time 1,Pontuação como Terrorista - Time 2,Pontuação como Terrorista - Time 1,Pontuação como Antiterrorista - Time 2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner
0,2020-03-18,Recon 5,TeamOne,Dust2,0,16,2,2,0,1,0,15,5151,2340454,62,63,0,2,2
1,2020-03-18,Recon 5,TeamOne,Inferno,13,16,2,2,8,6,5,10,5151,2340454,62,63,0,2,2
2,2020-03-18,New England Whalers,Station7,Inferno,12,16,2,1,9,6,3,10,5243,2340461,140,118,12,16,2
3,2020-03-18,Rugratz,Bad News Bears,Inferno,7,16,2,2,0,8,7,8,5151,2340453,61,38,0,2,2
4,2020-03-18,Rugratz,Bad News Bears,Vertigo,8,16,2,2,4,5,4,11,5151,2340453,61,38,0,2,2
5,2020-03-17,Singularity,Endpoint,Overpass,13,16,2,2,8,6,5,10,5247,2340456,71,41,0,2,2
6,2020-03-17,Singularity,Endpoint,Vertigo,11,16,2,1,6,9,5,7,5247,2340456,71,41,0,2,2
7,2020-03-17,Espada,Tricked,Dust2,16,10,1,2,3,8,13,2,5247,2340455,56,77,2,0,1
8,2020-03-17,Espada,Tricked,Nuke,16,10,1,1,7,8,9,2,5247,2340455,56,77,2,0,1
9,2020-03-17,fnatic,BIG,Mirage,12,16,2,1,9,6,3,10,5226,2340397,5,18,1,2,2
10,2020-03-17,Sprout,Movistar Riders,Mirage,16,10,1,2,9,2,7,8,5150,2340447,33,37,2,0,1
11,2020-03-17,Rooster,Skyfire,Inferno,16,13,1,1,7,8,9,5,5236,2340444,103,126,2,0,1
12,2020-03-17,Rooster,Skyfire,Overpass,16,1,1,2,2,0,14,1,5236,2340444,103,126,2,0,1
13,2020-03-17,Paradox,Airborne,Nuke,19,16,1,1,8,7,7,8,5236,2340443,112,187,1,2,2
14,2020-03-17,Paradox,Airborne,Mirage,9,16,2,2,6,4,3,12,5236,2340443,112,187,1,2,2
15,2020-03-17,Paradox,Airborne,Inferno,10,16,2,1,5,10,5,6,5236,2340443,112,187,1,2,2
16,2020-03-17,Alcoholics Anonymous,Station7,Mirage,5,16,2,2,2,4,3,12,5243,2340131,117,118,5,16,2
17,2020-03-17,New England Whalers,District 7,Nuke,16,7,1,2,7,1,9,6,5243,2340130,140,91,16,7,1
18,2020-03-17,AGO,HellRaisers,Train,16,5,1,2,3,3,13,2,5150,2340449,45,49,2,0,1
19,2020-03-17,AGO,HellRaisers,Inferno,16,5,1,1,11,4,5,1,5150,2340449,45,49,2,0,1

In [8]:
# Verificando valores discrepantes
ganhador_mapa = resultados['map_winner']
ganhador_mapa[np.abs(ganhador_mapa) > 2]

Series([], Name: map_winner, dtype: int64)

In [9]:
# Verificando valores discrepantes
ganhador_mapa = resultados['map_winner']
ganhador_mapa[np.abs(ganhador_mapa) < 0]

Series([], Name: map_winner, dtype: int64)

In [10]:
# Verificando valores discrepantes
#rounds = resultados['Pontuação como Antiterrorista - Time 1','Pontuação como Terrorista - Time 2','Pontuação como Terrorista - Time 1','Pontuação como Antiterrorista - Time 2']
#rounds[(np.abs(rounds) > 16).any(1)]
new = resultados[['Pontuação como Antiterrorista - Time 1','Pontuação como Terrorista - Time 2','Pontuação como Terrorista - Time 1','Pontuação como Antiterrorista - Time 2']].copy()
#rounds = resultados['Pontuação como Antiterrorista - Time 1']
#rounds
new

,Pontuação como Antiterrorista - Time 1,Pontuação como Terrorista - Time 2,Pontuação como Terrorista - Time 1,Pontuação como Antiterrorista - Time 2
0,0,1,0,15
1,8,6,5,10
2,9,6,3,10
3,0,8,7,8
4,4,5,4,11
...,...,...,...,...
45768,8,7,5,9
45769,10,5,6,8
45770,7,8,9,4
45771,4,1,12,3
45772,4,6,12,3

In [11]:
#vitoria = {0: 'Flawless Victory'}
#resultados['Tipo de vitória'] = resultados['result_1'].map(vitoria)
#resultados['Tipo de vitória'] = resultados['result_2'].map(vitoria)
#resultados.head(5)
pd.options.display.max_rows = 1000

resultados.loc[np.logical_or(np.logical_and(resultados.result_1 == 0, resultados.result_2 > 0), 
                        np.logical_and(resultados.result_2 == 0, resultados.result_1 > 0)), ['Tipo de vitória'] ] = 'Flawless Victory'
#resultados.loc[np.logical_and(resultados.result_1 == 0, resultados.result_2 > 0), ['Tipo de vitória'] ] = 'Flawless Victory'
resultados.head(100)

,date,team_1,team_2,_map,result_1,result_2,map_winner,Time que iniciou como Antiterrorista,Pontuação como Antiterrorista - Time 1,Pontuação como Terrorista - Time 2,Pontuação como Terrorista - Time 1,Pontuação como Antiterrorista - Time 2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner,Tipo de vitória
0,2020-03-18,Recon 5,TeamOne,Dust2,0,16,2,2,0,1,0,15,5151,2340454,62,63,0,2,2,Flawless Victory
1,2020-03-18,Recon 5,TeamOne,Inferno,13,16,2,2,8,6,5,10,5151,2340454,62,63,0,2,2,NaN
2,2020-03-18,New England Whalers,Station7,Inferno,12,16,2,1,9,6,3,10,5243,2340461,140,118,12,16,2,NaN
3,2020-03-18,Rugratz,Bad News Bears,Inferno,7,16,2,2,0,8,7,8,5151,2340453,61,38,0,2,2,NaN
4,2020-03-18,Rugratz,Bad News Bears,Vertigo,8,16,2,2,4,5,4,11,5151,2340453,61,38,0,2,2,NaN
5,2020-03-17,Singularity,Endpoint,Overpass,13,16,2,2,8,6,5,10,5247,2340456,71,41,0,2,2,NaN
6,2020-03-17,Singularity,Endpoint,Vertigo,11,16,2,1,6,9,5,7,5247,2340456,71,41,0,2,2,NaN
7,2020-03-17,Espada,Tricked,Dust2,16,10,1,2,3,8,13,2,5247,2340455,56,77,2,0,1,NaN
8,2020-03-17,Espada,Tricked,Nuke,16,10,1,1,7,8,9,2,5247,2340455,56,77,2,0,1,NaN
9,2020-03-17,fnatic,BIG,Mirage,12,16,2,1,9,6,3,10,5226,2340397,5,18,1,2,2,NaN
10,2020-03-17,Sprout,Movistar Riders,Mirage,16,10,1,2,9,2,7,8,5150,2340447,33,37,2,0,1,NaN
11,2020-03-17,Rooster,Skyfire,Inferno,16,13,1,1,7,8,9,5,5236,2340444,103,126,2,0,1,NaN
12,2020-03-17,Rooster,Skyfire,Overpass,16,1,1,2,2,0,14,1,5236,2340444,103,126,2,0,1,NaN
13,2020-03-17,Paradox,Airborne,Nuke,19,16,1,1,8,7,7,8,5236,2340443,112,187,1,2,2,NaN
14,2020-03-17,Paradox,Airborne,Mirage,9,16,2,2,6,4,3,12,5236,2340443,112,187,1,2,2,NaN
15,2020-03-17,Paradox,Airborne,Inferno,10,16,2,1,5,10,5,6,5236,2340443,112,187,1,2,2,NaN
16,2020-03-17,Alcoholics Anonymous,Station7,Mirage,5,16,2,2,2,4,3,12,5243,2340131,117,118,5,16,2,NaN
17,2020-03-17,New England Whalers,District 7,Nuke,16,7,1,2,7,1,9,6,5243,2340130,140,91,16,7,1,NaN
18,2020-03-17,AGO,HellRaisers,Train,16,5,1,2,3,3,13,2,5150,2340449,45,49,2,0,1,NaN
19,2020-03-17,AGO,HellRaisers,Inferno,16,5,1,1,11,4,5,1,5150,2340449,45,49,2,0,1,NaN
20,2020-03-17,Sprout,Movistar Riders,Inferno,16,7,1,1,13,2,3,5,5150,2340447,33,37,2,0,1,NaN
21,2020-03-17,fnatic,BIG,Overpass,16,7,1,2,4,4,12,3,5226,2340397,5,18,1,2,2,NaN
22,2020-03-17,Natus Vincere,North,Nuke,10,16,2,1,7,8,3,8,5226,2340396,1,23,0,2,2,NaN
23,2020-03-17,Natus Vincere,North,Dust2,10,16,2,1,5,10,5,6,5226,2340396,1,23,0,2,2,NaN
24,2020-03-17,forZe,Complexity,Train,9,16,2,2,3,7,6,9,5226,2340279,24,17,2,1,1,NaN
25,2020-03-17,forZe,Complexity,Mirage,19,17,1,1,10,5,5,10,5226,2340279,24,17,2,1,1,NaN
26,2020-03-17,fnatic,BIG,Inferno,7,16,2,1,5,10,2,6,5226,2340397,5,18,1,2,2,NaN
27,2020-03-17,forZe,Complexity,Dust2,16,9,1,2,8,2,8,7,5226,2340279,24,17,2,1,1,NaN
28,2020-03-17,pro100,Japaleno,Inferno,8,16,2,1,5,10,3,6,5150,2340448,43,64,0,2,2,NaN
29,2020-03-17,pro100,Japaleno,Dust2,14,16,2,2,6,9,8,7,5150,2340448,43,64,0,2,2,NaN
30,2020-03-17,GamerLegion,Nordavind,Vertigo,16,9,1,2,8,2,8,7,5150,2340450,35,47,1,2,2,NaN
31,2020-03-17,GamerLegion,Nordavind,Mirage,9,16,2,2,5,5,4,11,5150,2340450,35,47,1,2,2,NaN
32,2020-03-17,GamerLegion,Nordavind,Nuke,14,16,2,2,10,5,4,11,5150,2340450,35,47,1,2,2,NaN
33,2020-03-16,District 7,Bad News Bears,Vertigo,7,16,2,2,1,7,6,9,5151,2340320,93,33,7,16,2,NaN
34,2020-03-16,Thunder Logic,TeamOne,Mirage,5,16,2,1,4,11,1,5,5151,2340426,160,126,5,16,2,NaN
35,2020-03-16,Bad News Bears,Station7,Inferno,16,8,1,2,6,3,10,5,5151,2340315,33,133,16,8,1,NaN
36,2020-03-16,Rugratz,New England Whalers,Mirage,16,10,1,2,5,6,11,4,5151,2340046,85,178,16,10,1,NaN
37,2020-03-16,Recon 5,Oceanus,Nuke,16,5,1,1,10,5,6,0,5151,2340317,74,121,16,5,1,NaN
38,2020-03-16,Chaos,In The Lab,Dust2,16,1,1,1,14,1,2,0,5151,2340427,43,124,16,1,1,NaN
39,2020-03-16,Infinity,Thunder Logic,Dust2,16,14,1,2,10,5,6,9,5151,2340319,137,160,16,14,1,NaN
40,2020-03-16,District 7,Rugratz,Mirage,9,16,2,1,4,11,5,5,5151,2340318,93,85,9,16,2,NaN
41,2020-03-16,Under 21,TeamOne,Nuke,12,16,2,1,7,8,5,8,5151,2340322,80,126,12,16,2,NaN
42,2020-03-16,Chaos,Monstars,Inferno,16,12,1,1,9,6,7,6,5151,2339553,43,119,16,12,1,NaN
43,2020-03-16,Thunder Logic,New England Whalers,Nuke,16,13,1,1,6,9,10,4,5151,2340323,160,178,16,13,1,NaN
44,2020-03-16,Singularity,Espada,Nuke,16,11,1,2,9,3,7,8,5247,2340328,65,56,1,2,2,NaN
45,2020-03-16,Vitality,GODSENT,Vertigo,16,14,1,1,6,9,10,5,5226,2340063,10,17,2,0,1,NaN
46,2020-03-16,Vitality,GODSENT,Nuke,16,8,1,2,6,3,10,5,5226,2340063,10,17,2,0,1,NaN
47,2020-03-16,Astralis,NiP,Overpass,8,16,2,2,4,5,4,11,5226,2340065,2,12,0,2,2,NaN
48,2020-03-16,Thunder Logic,Under 21,Nuke,11,16,2,1,6,9,5,7,5151,2340428,160,80,11,16,2,NaN
49,2020-03-16,Astralis,NiP,Vertigo,6,16,2,1,3,12,3,4,5226,2340065,2,12,0,2,2,NaN
50,2020-03-16,Singularity,Espada,Mirage,11,16,2,1,5,10,6,6,5247,2340328,65,56,1,2,2,NaN
51,2020-03-16,Singularity,Espada,Dust2,9,16,2,2,6,4,3,12,5247,2340328,65,56,1,2,2,NaN
52,2020-03-16,ENCE,Spirit,Inferno,2,16,2,1,2,13,0,3,5226,2340391,21,27,0,2,2,NaN
53,2020-03-16,ENCE,Spirit,Train,14,16,2,2,7,8,7,8,5226,2340391,21,27,0,2,2,NaN
54,2020-03-15,Big Frames,Chaos,Overpass,13,16,2,2,10,4,3,12,5151,2340024,92,43,13,16,2,NaN
55,2020-03-15,Swole Identity,Mythic,Dust2,9,16,2,1,3,12,6,4,5151,2339757,79,58,9,16,2,NaN
56,2020-03-15,I sleep,Airborne,Nuke,10,16,2,2,3,8,7,8,5248,2340430,173,188,0,2,2,NaN
57,2020-03-15,I sleep,Airborne,Overpass,9,16,2,1,7,8,2,8,5248,2340430,173,188,0,2,2,NaN
58,2020-03-15,Thunder Logic,Swole Identity,Overpass,19,16,1,1,4,11,11,4,5151,2340243,160,79,19,16,1,NaN
59,2020-03-15,Chaos,Oceanus,Dust2,16,8,1,1,9,6,7,2,5151,2340425,43,121,16,8,1,NaN
60,2020-03-15,TeamOne,Big Frames,Nuke,16,5,1,1,13,2,3,3,5151,2340313,126,92,16,5,1,NaN
61,2020-03-15,Thunder Logic,In The Lab,Mirage,16,14,1,2,10,5,6,9,5151,2340388,160,124,16,14,1,NaN
62,2020-03-15,I sleep,Incept,Vertigo,16,8,1,1,8,7,8,1,5248,2340436,173,176,2,0,1,NaN
63,2020-03-15,FunPlus Phoenix,Cloud9,Train,20,22,2,1,5,10,10,5,5242,2340337,14,28,1,2,2,NaN
64,2020-03-15,Endpoint,Tricked,Mirage,6,16,2,1,4,11,2,5,5247,2340329,40,86,1,2,2,NaN
65,2020-03-15,Endpoint,Tricked,Train,14,16,2,1,6,9,8,7,5247,2340329,40,86,1,2,2,NaN
66,2020-03-15,Endpoint,Tricked,Dust2,16,13,1,2,10,4,6,9,5247,2340329,40,86,1,2,2,NaN
67,2020-03-15,Orgless,Dignitas,Inferno,12,16,2,1,6,9,6,7,5242,2340338,36,42,1,2,2,NaN
68,2020-03-15,Orgless,Dignitas,Nuke,10,16,2,1,5,10,5,6,5242,2340338,36,42,1,2,2,NaN
69,2020-03-15,Orgless,Dignitas,Train,16,8,1,2,8,1,8,7,5242,2340338,36,42,1,2,2,NaN
70,2020-03-15,FunPlus Phoenix,Cloud9,Inferno,3,16,2,2,0,4,3,12,5242,2340337,14,28,1,2,2,NaN
71,2020-03-15,I sleep,Incept,Dust2,16,6,1,1,11,4,5,2,5248,2340436,173,176,2,0,1,NaN
72,2020-03-15,FunPlus Phoenix,Cloud9,Nuke,16,10,1,2,5,6,11,4,5242,2340337,14,28,1,2,2,NaN
73,2020-03-14,Bad News Bears,Under 21,Dust2,18,22,2,1,4,11,11,4,5151,2340312,33,80,18,22,2,NaN
74,2020-03-14,ORDER,Paradox,Inferno,16,19,2,1,12,3,3,12,5236,2340282,55,112,2,1,1,NaN
75,2020-03-14,ORDER,Paradox,Vertigo,16,6,1,1,10,5,6,1,5236,2340282,55,112,2,1,1,NaN
76,2020-03-14,ORDER,Paradox,Mirage,16,4,1,2,4,1,12,3,5236,2340282,55,112,2,1,1,NaN
77,2020-03-14,EGOBOYZ,Infamous,Inferno,16,9,1,2,5,5,11,4,5244,2340429,226,267,1,2,2,NaN
78,2020-03-14,Triumph,Chaos,Nuke,16,8,1,1,9,6,7,2,5151,2340045,50,43,16,8,1,NaN
79,2020-03-14,Bad News Bears,Triumph,Inferno,16,10,1,2,5,6,11,4,5151,2340311,33,50,16,10,1,NaN
80,2020-03-14,Chaos,TeamOne,Inferno,16,3,1,2,3,1,13,2,5151,2340022,43,126,16,3,1,NaN
81,2020-03-14,TeamOne,Rugratz,Overpass,11,16,2,2,5,7,6,9,5151,2340309,126,85,11,16,2,NaN
82,2020-03-14,EGOBOYZ,Infamous,Overpass,8,16,2,2,2,7,6,9,5244,2340429,226,267,1,2,2,NaN
83,2020-03-14,Imperial,Reapers,Mirage,16,11,1,2,6,6,10,5,5245,2340431,130,241,2,0,1,NaN
84,2020-03-14,EGOBOYZ,Infamous,Mirage,18,22,2,2,7,8,8,7,5244,2340429,226,267,1,2,2,NaN
85,2020-03-14,Imperial,Reapers,Train,16,10,1,1,10,5,6,5,5245,2340431,130,241,2,0,1,NaN
86,2020-03-14,Supremacy,Infamous,Mirage,16,12,1,2,8,5,8,7,5244,2340433,212,267,2,0,1,NaN
87,2020-03-14,Chaos,MIBR,Train,16,6,1,1,9,6,7,0,5242,2340340,43,25,2,0,1,NaN
88,2020-03-14,Mythic,Station7,Dust2,14,16,2,2,3,12,11,4,5151,2340434,58,133,14,16,2,NaN
89,2020-03-14,Chaos,MIBR,Nuke,16,14,1,2,8,7,8,7,5242,2340340,43,25,2,0,1,NaN
90,2020-03-14,Gen.G,Envy,Train,19,17,1,1,5,10,10,5,5242,2340339,15,51,2,1,1,NaN
91,2020-03-14,Gen.G,Envy,Inferno,13,16,2,2,3,11,10,5,5242,2340339,15,51,2,1,1,NaN
92,2020-03-14,Gen.G,Envy,Mirage,16,9,1,1,9,6,7,3,5242,2340339,15,51,2,1,1,NaN
93,2020-03-14,Supremacy,Infamous,Dust2,16,1,1,1,14,1,2,0,5244,2340433,212,267,2,0,1,NaN
94,2020-03-13,Bad News Bears,Oceanus,Mirage,16,4,1,1,11,4,5,0,5151,2340304,33,121,16,4,1,NaN
95,2020-03-13,District 7,Divine,Mirage,22,20,1,1,7,8,8,7,5151,2340303,93,109,22,20,1,NaN
96,2020-03-13,Swole Patrol,Under 21,Nuke,16,8,1,2,4,5,12,3,5151,2340301,81,80,16,8,1,NaN
97,2020-03-13,Swole Identity,Big Frames,Inferno,25,22,1,2,6,9,9,6,5151,2340041,79,92,25,22,1,NaN
98,2020-03-13,TeamOne,Mythic,Overpass,4,16,2,2,1,4,3,12,5151,2340295,126,58,4,16,2,NaN
99,2020-03-13,Thunder Logic,Rugratz,Mirage,11,16,2,2,3,9,8,7,5151,2340385,160,85,11,16,2,NaN

In [12]:
resultados['Tipo de vitória'] = resultados['Tipo de vitória'].fillna('Victory')
resultados.head(5)

,date,team_1,team_2,_map,result_1,result_2,map_winner,Time que iniciou como Antiterrorista,Pontuação como Antiterrorista - Time 1,Pontuação como Terrorista - Time 2,Pontuação como Terrorista - Time 1,Pontuação como Antiterrorista - Time 2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner,Tipo de vitória
0,2020-03-18,Recon 5,TeamOne,Dust2,0,16,2,2,0,1,0,15,5151,2340454,62,63,0,2,2,Flawless Victory
1,2020-03-18,Recon 5,TeamOne,Inferno,13,16,2,2,8,6,5,10,5151,2340454,62,63,0,2,2,Victory
2,2020-03-18,New England Whalers,Station7,Inferno,12,16,2,1,9,6,3,10,5243,2340461,140,118,12,16,2,Victory
3,2020-03-18,Rugratz,Bad News Bears,Inferno,7,16,2,2,0,8,7,8,5151,2340453,61,38,0,2,2,Victory
4,2020-03-18,Rugratz,Bad News Bears,Vertigo,8,16,2,2,4,5,4,11,5151,2340453,61,38,0,2,2,Victory

In [13]:
jogos_mibr = resultados.loc[np.logical_or(resultados.team_1 == "MIBR", resultados.team_2 == "MIBR")] 
len(jogos_mibr)

336

In [14]:
mibr_vitoria = jogos_mibr.loc[np.logical_or(np.logical_and(resultados.team_1 == "MIBR", resultados.map_winner == 1), np.logical_and(resultados.team_2 == "MIBR", resultados.map_winner == 2))]
len(mibr_vitoria)

191

In [15]:
porcentagem_vitoria_mibr = len(mibr_vitoria)/len(jogos_mibr)
porcentagem_vitoria_mibr

0.5684523809523809

In [16]:
mibr_astralis = jogos_mibr.loc[np.logical_or(np.logical_and(resultados.team_1 == "MIBR", resultados.team_2 == "Astralis"), np.logical_and(resultados.team_2== "MIBR", resultados.team_1 == "Astralis"))]

In [17]:
jogos_perfeitos = resultados[resultados['Tipo de vitória'] == 'Flawless Victory']

nomes = []
for index, row in jogos_perfeitos.iterrows():
    if (row['map_winner'] == 2):
        nomes.append(row['team_2'])
    if (row['map_winner'] == 1):
        nomes.append(row['team_1'])
        
    #print(row['rank_1'], row['rank_2'])

In [18]:
#colunas do dataset que precisamos
colunas = ['player_name','event_name', 'kills', 'assists', 'deaths', 'hs']

#Carregando o data set -> jogadores de CS:Go Professional Matches
jogadores_bruto = pd.read_csv('players.csv', usecols=colunas)

#Exibindo os dez primeiros registros do data set
jogadores_bruto.head(10)

  player_name         event_name  kills  assists  deaths  hs
0      Brehze  IEM Katowice 2020     57       14      61  29
1        CeRq  IEM Katowice 2020     54       10      54  18
2       EliGE  IEM Katowice 2020     55       10      51  28
3       Ethan  IEM Katowice 2020     43        5      54  18
4         NAF  IEM Katowice 2020     52       22      46  23
5    Stewie2K  IEM Katowice 2020     56        8      54  31
6     Twistzz  IEM Katowice 2020     72       14      45  45
7       nitr0  IEM Katowice 2020     50       15      52  17
8   stanislaw  IEM Katowice 2020     44       22      57  17
9       tarik  IEM Katowice 2020     50       21      59  18

In [19]:
ex = jogadores_bruto[np.logical_or(np.logical_or(np.logical_or(np.logical_or(jogadores_bruto['player_name'] == 'coldzera', jogadores_bruto['player_name'] == 'device'), jogadores_bruto['player_name'] == 'FalleN'), jogadores_bruto['player_name'] == 's1mple'), jogadores_bruto['player_name'] == 'olofmeister')]
ex.head()

     player_name         event_name  kills  assists  deaths  hs
16      coldzera  IEM Katowice 2020     58       11      52  30
17   olofmeister  IEM Katowice 2020     53       10      51  22
38        s1mple  IEM Katowice 2020     46       11      20  16
369       s1mple  IEM Katowice 2020     70       12      53  20
405     coldzera  IEM Katowice 2020     34        5      31  20

In [20]:
graf = ex.groupby('player_name').sum()
graf

             kills  assists  deaths     hs
player_name
FalleN       19725     4574   16782   6023
coldzera     21228     3696   16198  10318
device       19345     3378   15287   6422
olofmeister  15328     3045   14153   7333
s1mple       17676     2568   13012   7718

In [44]:
import seaborn as sns
graf.set_index('player_name')


graf

#teste = sns.catplot(x='player_name', y='kills', data=graf, kind='bar', aspect=3)
#teste


#graf.plot.bar()

#axes = graf.plot.bar(rot=0, subplots=True)
#axes[1].legend(loc=2)

KeyError: "None of ['player_name'] are in the columns"